/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

/* background image is to remain unused for the time being */
body{
  margin: 0%;
  background-color: #8251ad;
  background-image: url("https://zats-a-sour.neocities.org/Background.png");
  color: black;
}

.header-img{
  width: 100%;
  height: 150px;
  text-align: center;
}

.mini-header{
  width: 900px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.maincontainer {
  font-family: comic sans ms;
  font-size: 14px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}

.container {
  background-color: #a99bff;
  border-style: solid;
  border-width: 4px 4px 4px 4px;
  border-image: url("divs/bordertestmkIIelectricboobyglue-1.png") 4 4 4 4 repeat repeat;
  border-image-outset: 1px;
}

.placeholder{
  background-color: white;
  border-style: solid;
}

.box-container {
  border-style: solid;
  border-width: 8px 8px 8px 8px;
  border-image: url("divs/border-white.png") 8 8 8 8 repeat repeat;
  border-image-outset: 2px;
}

.blogpost {
  background-color: pink;
  border-style: solid;
  border-width: 4px 4px 4px 4px;
  border-image: url("divs/bordertestmkIIelectricboobyglue-1.png") 4 4 4 4 repeat repeat;
  border-image-outset: 1px;
  margin: 4px;
  width: 200px;
}

.blogpostpvw {
  background-color: pink;
  border-style: solid;
  border-width: 4px 4px 4px 4px;
  border-image: url("divs/bordertestmkIIelectricboobyglue-1.png") 4 4 4 4 repeat repeat;
  border-image-outset: 1px;
  margin: 4px auto 4px auto;
  width: 200px;
}

.row {
  width: 680px;
  margin-left: auto ;
  margin-bottom: 4px;
}
/* use on <p> elements ONLY */
.impact{
  text-shadow: 1px 1px #000;
  color: white;
  font-family: impact;
  font-size: 21px;
  margin: 0px;
}
.buttons {
  display: block;
  width: 680px;
  height: 33px;
  margin-left: auto ;
  margin-right: auto ;
  overflow: hidden;
}

.stamps {
  display: block;
  width: 680px;
  height: 60px;
  margin-left: auto ;
  margin-right: auto ;
  overflow: hidden;
}

.marquee{
  animation: marquee 20s linear infinite;
  width: max-content;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.marqueestamp{
  animation: marquee 30s linear infinite;
  width: max-content;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
  
.side {
  width: 200px;
  height: 400px;
  flex-wrap: wrap;
  display: block;
  position: absolute;
}


footer{
  text-align: center;
  bottom: 0;
  margin-left: auto;
  Margin-right: auto;
  width:900px;
}

footer p{
  background-color: white;
  margin: 0px;
}