#dialog {
    background-color: rgba(0, 0, 0, 0.5); /* remember to replace with a semi-transparent background */
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    display: none;
}

#dialog div {
    display: none;
    margin: auto;
    color: white;
}