#dialog {
    background-color: rgba(0, 0, 0, 0.75); /* remember to replace with a semi-transparent background */
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    display: none;
    text-align: center;
}

#dialog div {
    display: none;
    margin: auto;
    color: white;
}

.ezgallery.montage img {
  cursor: pointer;
}

#inner {
  display: none;
  overflow-y: auto;
  height: 100%;
  width: 100%
}

.outertape {
  position: relative;
  margin: 8px;
}

.tapeimg {
  width: 100%;
  height: 100%;
  position: absolute;
  border-style: solid;
  border-width: 32px;
  border-image: url("/divs/tapedivplaceholder.png") 32 repeat repeat;
  box-sizing: border-box;
  border-image-outset: 12px;
  pointer-events: none;
}

